/* estilo_reporte.css */

body {
    text-align: center;
}

h2 {
    color: #333;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Estilo adicional para la columna "Unidad/Tema" */
td:first-child {
    width: 25%; /* Ajusta según tus necesidades */
    max-width: 200px; /* Limita el ancho máximo */
    word-wrap: break-word; /* Rompe palabras largas si es necesario */
}
